body{
    cursor: pointer;
    overflow-x: hidden;
    overflow-y:scroll;
}

.headbar{
    background-color: whitesmoke;
    position: sticky;
}

.logo{
    width: 70px;
    margin-left: 45%;
}

.login{
    width: 40px;
    padding-top: 15px;
    cursor: pointer;
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #EA0908;
    color: #EDEDED;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #EDEDED;
    background-color: #1F1717;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #252525;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

img{
    height: auto;
    width: 350px;
    margin: auto;
}


footer{
    height: 10vh;
    background-color: #1F1717;
    position: sticky;
    color: #EDEDED;
}

.ico{
    height: auto;
    width: 30px;
    margin-left: 10px;
    margin-top: 4%;
}

#info{
    padding-bottom: 10px;
}

#info-text{
    padding-left: 40px;
    margin-top: -35px;
    margin-left: 10px;
}