body{
    cursor: pointer;
    overflow-x: hidden;
    overflow-y:scroll;
}

.headbar{
    background-color: whitesmoke;
    position: sticky;
}

.logo{
    width: 70px;
    margin-left: 45%;
}

.login{
    width: 40px;
    padding-top: 15px;
    cursor: pointer;
}

table{
    width: 90vw;
    margin: auto;
}

th, td{
    border: 1px solid black;
    text-align: center;
}

#torles{
    background-color: darkred;
    color: white;
    width: 20%;
    float: right;
    margin-right: 2%;
}

#torles:hover{
    background-color: #fc200c;
    transition: 1s ease;
}