body{
    cursor: pointer;
    overflow-x: hidden;
    overflow-y:scroll;
}

.headbar{
    background-color: whitesmoke;
    position: sticky;
}

.logo{
    width: 70px;
    margin-left: 45%;
}

.logout{
    width: 40px;
    padding-top: 15px;
    cursor: pointer;
}

#order{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background-color: #FC891C;
    text-align: center;
    cursor: pointer;
    width: 100%; 
}