body{
    cursor: pointer;
    overflow-x: hidden;
    overflow-y:scroll;
}

.headbar{
    background-color: whitesmoke;
    position: sticky;
}

.logo{
    margin-left: 45%;
    width: 70px;
  }

.login{
    width: 40px;
    padding-top: 15px;
    cursor: pointer;
}

table{
    width: 75%;
    margin: auto;
}

.column{
    float: left;
    width: 90%;
    padding: 10px;
}

.advertisement{
    float: left;
    width: 10%;
    padding: 10px;
}

th{
    border: none;
    text-align: center;
    background-color: #fc200c;
    border-bottom: 1px black solid;
}

td{
    border: none;
    text-align: center;
    background-color:rgb(231, 230, 230);
    border-bottom: 1px solid black;
}

#torles{
    background-color: darkred;
    color: white;
    width: auto;
    margin-right: 2%;
}

#torles:hover{
    background-color: #fc200c;
    transition: 1s ease;
}

input[type=submit]{
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    width: auto;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=submit]:hover{
    background-color: #4e3939;
    color: white;
    transition: 0.3s ease;
}

#sender{
    font-weight: bold;
}

#time{
    font-style: italic;
}

button{
	background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    width: auto;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
	margin-left: 10px;
}


#return{
    border: none;
    border-radius: 5px;
    height: auto;
    width: auto;
    background: none;
    margin-top: 10px;
    margin-bottom: 10px;
	text-decoration: none;
	margin-left: 10px;
}

a{
	text-decoration: none;
}
