body{
    cursor: pointer;
    overflow-x: hidden;
    overflow-y:scroll;
}
.headbar{
    background-color: whitesmoke;
    position: sticky;
}

.logo{
    margin-left: 45%;
    width: 70px;
  }

input[type=submit]{
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	background-color: #EDEDED;
}

.cart{
    width: 40px;
    padding-top: 15px;
    cursor: pointer;
}


img{
    width: auto;
    margin: auto;
    border-radius: 10px;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px
}

.col2{
	text-align: center;
	justify-content: auto;
	margin: auto;
}

#kosar{
	background-color:#F11914;
}

#kosar:hover{
	background-color:#FC1F0C;
}

.product-name{
    font-weight: bold;
}

.brand-name{
    font-weight: bold;
}

.prod-desc{
    margin: auto;
    text-align: center;
    border: 1px solid #FC1F0C;
    border-radius: 5px;
    box-shadow: #FC1F0C;
}