body{
    cursor: pointer;
    overflow-x: hidden;
    overflow-y:scroll;
}

.fill {
    background-color: red;
}

.headbar{
    background-color: rgb(250, 250, 250);
    position: sticky;
    box-shadow: 3px 3px 4px rgba(41, 41, 41, 0.12);
}

.logo{
    width: 70px;
    margin-left: 45%;
}

.cart{
    width: 40px;
    padding-top: 15px;
    cursor: pointer;
}

input[type=checkbox]{
    color: #FF7700;
}

#spicy-checked{
    list-style-image: url(./spicy.png);
}

#spicy{
    list-style-image: url(./not_spicy.png);
}

.product-card {
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    text-align: center;
    width: 270px;
    position : relative;
}

.product-card *{
    font-family: "Archivo", sans-serif;
    
}

.pc-title {
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1em;
    margin: 0;
}

.pc-img {
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

.pc-bot-container {
    padding: 10px;
}

.pc-spiciness {
    margin: 0;
}

.pc-spiciness-icon {
    width: 23px;
}





.sale::after{
    position: absolute;
    content: attr(data-label);
    top: 0px;
    right: 0px;
    padding: 0.5rem;
    width: 100%;
    background: #c41100;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(41, 41, 41, 0.15);
}

.pc-price {
    margin: 15px 0 5px 0;
    font-size: 1.2em;
}

.pc-button {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    background-color: white;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

.pc-button:hover {
    background-color: black;
    color: white;
}

.sb-button {
    margin: 20px 0 0 0;
    font-size: 1em;
    font-weight: 600;
    background-color: white;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

.sb-button:hover {
    background-color: black;
    color: white;
}

.sidebar {
    background-color: rgb(250, 250, 250);
    padding: 10px 20px 20px 20px;
    font-family: "Archivo", sans-serif;
    margin: 20px;
}

.sidebar hr {
    margin: 2px;
}

.sidebar h5 {
    margin: 10px 0 0 0;
}

.products-area {
    padding: 20px;
}


.container-checkbox {
	font-size: 24px;
	cursor: pointer;
  	caret-color: transparent;
	display: flex;
   	align-items: center;
    float: left;
    margin: 0;
}
.container-checkbox img { 
    padding-right: 5px;
    width: 36px;
    height: 20px;
}


/* Hide the browser's default checkbox */
.container-checkbox input {
  display: none;
}

/* Hide the checked checkbox */
.img-checked {
	display: none;
}
.img-hover {
	display: none;
}


.container-checkbox input:checked ~ .img-checked {
	display: inline;
}


.container-checkbox input:checked ~ .img-unchecked {
	display: none;
}

.container-checkbox:hover input:not(:checked) ~ .img-hover {
	display: inline;
}

.container-checkbox:hover input:not(:checked) ~ .img-checked {
	display: none;
}

.container-checkbox:hover input:not(:checked) ~ .img-unchecked {
	display: none;
}

.sb-option-container {
    margin: 0 0 0 0;
}

.sb-button-container {
    clear: both;
    text-align: center;
}

#cards-container {
    display: grid;

grid-template-columns: repeat(4, 1fr);

grid-auto-rows: auto;

grid-gap: 1rem;
}