body{
    cursor: pointer;
    overflow-x: hidden;
    overflow-y:scroll;
}
.headbar{
    background-color: whitesmoke;
    position: sticky;
}

.logo{
    width: 70px;
    margin-left: 45%;
}

.cart{
    width: 40px;
    padding-top: 15px;
    cursor: pointer;
}

input[type=checkbox]{
    color: #FF7700;
}

#spicy-checked{
    list-style-image: url(./spicy.png);
}

#spicy{
    list-style-image: url(./not_spicy.png);
}

form{
    float: left;
    width: 25%;
    margin: 8px;
    padding: 0 8px;
}

button[type=submit]{
    background-color: white;
}